<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone 1234567897654%></p>

<p><%= number_to_currency "150"%></p>
<p><%= number_to_percentage "80.4"%></p>
<p><%= number_with_delimiter "72985875897598375982759"%></p>
